language: cpp

sudo: required

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.7
      - george-edison55-precise-backports
    packages:
      - cmake
      - cmake-data

script:
  - git clone https://github.com/giaf/blasfeo.git
  - cd blasfeo
  - make static_library -j $(nproc) TARGET=GENERIC
  - cd ..
  - cd unittest
  - mkdir -p build 
  - cd build
  - cmake ..
  - make
  - ctest 